.hidden {
  visibility: hidden;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row{
  flex-direction: row;
}

.spaced{
  column-gap: 10px;
  row-gap: 50px;
}

.centrelized {
  justify-content: center;
  align-items: center;
}

.shield{
  box-shadow: 1px 1px 5px 1px dodgerblue,2px 10px 20px 2px orange;
}
::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

.top{
  text-align: center;
  width: 100%;
  background-color: dodgerblue;
  color: white;
  border: 10px double black;
}
.margined-sm{
  margin: 3vmin;
}
.margined-md{
  margin: 6vmin;
}
.margined-lg{
  margin: 9vmin;
}
.template{
  width: 20vw;
}
.rotateDown{
  transform: rotate(-135deg);
}
.rotateUp{
  transform: rotate(45deg);
}

@supports (-webkit-text-stroke: 1px white) {
  .bigtext {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    font-size:3vmax;
  }
}